In [1]:
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Advertising Budget and Sales.csv to Advertising Budget and Sales.csv

In [3]:
advertising_budget_sales=pd.read_csv("Advertising Budget and Sales.csv")

In [5]:
advertising_budget_sales.head()

   Unnamed: 0  TV Ad Budget ($)  ...  Newspaper Ad Budget ($)  Sales ($)
0           1             230.1  ...                     69.2       22.1
1           2              44.5  ...                     45.1       10.4
2           3              17.2  ...                     69.3        9.3
3           4             151.5  ...                     58.5       18.5
4           5             180.8  ...                     58.4       12.9

[5 rows x 5 columns]

In [23]:
advertising_budget_sales.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

In [11]:
advertising_budget_sales.size

1000

In [12]:
advertising_budget_sales.shape

(200, 5)

In [32]:
from numpy.ma.core import add

feature_select_col=['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']
X_feature=advertising_budget_sales[feature_select_col]

Y_target=advertising_budget_sales[['Sales ($)']]

In [33]:
X_feature.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
0             230.1                 37.8                     69.2
1              44.5                 39.3                     45.1
2              17.2                 45.9                     69.3
3             151.5                 41.3                     58.5
4             180.8                 10.8                     58.4

In [34]:
Y_target.head()

   Sales ($)
0       22.1
1       10.4
2        9.3
3       18.5
4       12.9

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X_feature,Y_target,random_state=1)

In [35]:
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [36]:
print(linreg.intercept_)

[2.87696662]

In [37]:
print(linreg.coef_)

[[0.04656457 0.17915812 0.00345046]]

In [40]:
y_pred=linreg.predict(x_test)
y_pred

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

In [41]:
import numpy as np
from sklearn import metrics

In [42]:
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.404651423032895